@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <a href="/dashboard/role/create">Create Role</a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Role Name</th>
                        <th>Settings</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Role Name</th>
                        <th>Settings</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var role in Model)
                    {
                        <tr>
                            <td>@role.Name</td>
                            <td>

                               <form method="post" asp-action="Delete" asp-controller="Role">
                                    <input type="hidden"  name="id"  value="@role.Id"/>
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Table{
    <script src="~/admin/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/admin/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <!-- Page level custom scripts -->
    <script src="~/admin/js/demo/datatables-demo.js"></script>
}