
<div class="contact-section">
    <div class="container">
        <ul>
            <li>
                <i class="fa-solid fa-phone" style="color: #ffffff;"></i><a href="tel:+ 994(70)3523421">
                    ( +994)
                    70 352 34 21
                </a>
            </li>
            <li>
                <i class="fa-regular fa-envelope me-2" style="color: #ffffff;"></i>
                <a href="jeyhunmd111@gmail.com">jeyhunmd111@gmail.com</a>
            </li>
            <div class="text-center">
                <ul class="d-flex justify-content-center">
                    <li>
                        <a target="_blank" href="https://www.instagram.com/jeyhunmd/">
                            <i class="fa-brands fa-instagram"
                               "></i>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.youtube.com/@JeyhunMD">
                            <i class="fa-brands fa-youtube"
                               "></i>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://twitter.com/jeyhun_md">
                            <i class="fa-brands fa-twitter" "></i>
                        </a>
                    </li>
                </ul>
            </div>

        </ul>
    </div>
</div>