<section class="sec1 text-center">
    <div class="container d-lg-flex justify-content-center">
        <ul class="sec1-boxes_1 text-center">
            <li class="border-2"><a href="#"><h2>Behance</h2></a></li>
            <li class="border-1"><a href="#"><h2>Instagram</h2></a></li>
            <li class="border-2"><a href="#"><h2>Patreon </h2></a></li>

        </ul>
        <ul class="sec1-boxes_2">
            <li class="border-1"><a href="#"><h2>NFT </h2></a></li>
            <li class="border-2"><a href="#"><h2>Youtube </h2></a></li>
            <li class="border-2"><a href="/blog/"><h2>Blog</h2></a></li>

        </ul>
    </div>
    <h5>discover me with my art</h5>
</section> 