@inject LanguageService language
<section class="home-sec text-center">
    <div class="container d-lg-flex justify-content-center">
        <ul class="sec1-boxes_1 text-center">
            <li class="border-2">
                <a target="_blank" href="https://www.behance.net/jeyhunmd">
                    <h2>Behance</h2>
                </a>
            </li>
            <li class="border-1">
                <a target="_blank" href="https://www.instagram.com/jeyhunmd/">
                    <h2>Instagram</h2>
                </a>
            </li>
            <li class="border-2">
                <a target="_blank" href="https://www.patreon.com/jeyhunmd">
                    <h2>Patreon </h2>
                </a>
            </li>

        </ul>
        <ul class="sec1-boxes_2">
            <li class="border-1">
                <a target="_blank" href="https://opensea.io/JeyhunMD">
                    <h2>NFT </h2>
                </a>
            </li>
            <li class="border-2">
                <a target="_blank" href="https://www.youtube.com/JeyhunMD">
                    <h2>Youtube </h2>
                </a>
            </li>
            <li class="border-2">
                <a href="/blog/">
                    <h2>Blog</h2>
                </a>
            </li>

        </ul>
    </div>
    <h5>@language.Getkey("sənətimlə məni kəşf et")</h5>
</section>
