.contact-section{
     padding-top: 251px;
     width: 100%;
     height: auto;
     margin: 0 auto;
    
     ul{
          text-align: center;
          font-family: 'Oswald', sans-serif;
          font-size: 25px;
          font-weight: 500 !important;
          padding: 0;
         li{
          padding: 10px 20px;
          &:hover{
               i{color: #D82B2B;}
          }
         }
     }
}