
<div class="section_order">
    <div class="order_boxes">
        <form>
            <label for="">Name</label>
            <input type="text">
            <label for="">E-mail</label>

            <input type="email">
            <label for="">Telephone</label>

            <input type="number">

            <label>Order type</label>
            <div class="boxes_bottom">
                <div class="custom-select">
                    <div class="selected-option">Select</div>
                    <i class="fa-solid fa-chevron-down"></i>
                    <div class="options">
                        <div class="option"><a href="#">Logo</a></div>
                        <div class="option"><a href="#">Logo</a></div>
                        <div class="option"><a href="#">Logo</a></div>
                    </div>




                    <div class="textarea_input">

                        <label>Message</label>
                        <textarea name="" id="" class="textarea"></textarea>
                        <button type="submit">Order</button>
                    </div>
                </div>
            </div>


        </form>

    </div>

</div>