@section Slider
    {
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
}
<div class="swiper mySwiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="blog_boxes">
                <div class="box order-2 order-md-0  text-start ">
                    <div class="container">


                        <h4 class="mt-4">Lorem, ipsum.</h4>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                            has been the industry's standard dummy text ever since the 1500s,
                        </p>
                    </div>
                </div>
                <div class="box order-1 order-md-1">
                    <div class="slider_box">
                        <img src="~/assets/images/people-brainstorming-work-meeting.jpg" alt="">
                    </div>


                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="blog_boxes">
                <div class="box order-2 order-md-0  text-start ">
                    <div class="container">


                        <h4 class="mt-4">Lorem, ipsum.</h4>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                            has been the industry's standard dummy text ever since the 1500s,
                        </p>
                    </div>
                </div>
                <div class="box order-1 order-md-1">
                    <div class="slider_box">
                        <img src="~/assets/images/people-brainstorming-work-meeting.jpg" alt="">
                    </div>


                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="blog_boxes">
                <div class="box order-2 order-md-0  text-start ">
                    <div class="container">


                        <h4 class="mt-4">Lorem, ipsum.</h4>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                            has been the industry's standard dummy text ever since the 1500s,
                        </p>
                    </div>
                </div>
                <div class="box order-1 order-md-1">
                    <div class="slider_box">
                        <img src="~/assets/images/people-brainstorming-work-meeting.jpg" alt="">
                    </div>


                </div>
            </div>
        </div>
    </div>
    <div class="swiper-pagination"></div>
</div>



<div class="slider_2">

    <div class="slider-slide">
        <div class="slider_image">
            <img src="https://cdn.magloft.com/github/swiper/images/page-001.jpg" />
        </div>
        <div class="slider_text">
            <div class="container">
                <h4>Lorem, ipsum.</h4>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim ad aspernatur eaque maxime culpa
                    consectetur debitis dolorem impedit sapiente quod.
                </p>
            </div>
        </div>

    </div>

    <div class="slider-slide">
        <div class="slider_image">
            <img src="https://cdn.magloft.com/github/swiper/images/page-002.jpg" />
        </div>
        <div class="slider_text">
            <div class="container">
                <h4>Lorem, ipsum.</h4>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim ad aspernatur eaque maxime culpa
                    consectetur debitis dolorem impedit sapiente quod.
                </p>
            </div>
        </div>

    </div>

    <div class="slider-slide">
        <div class="slider_image">
            <img src="https://cdn.magloft.com/github/swiper/images/page-003.jpg" />
        </div>
        <div class="slider_text">
            <div class="container">
                <h4>Lorem, ipsum.</h4>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim ad aspernatur eaque maxime culpa
                    consectetur debitis dolorem impedit sapiente quod.
                </p>
            </div>
        </div>

    </div>

    <div class="slider-slide">
        <div class="slider_image">
            <img src="https://cdn.magloft.com/github/swiper/images/page-004.jpg" />
        </div>
        <div class="slider_text">
            <div class="container">
                <h4>Lorem, ipsum.</h4>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim ad aspernatur eaque maxime culpa
                    consectetur debitis dolorem impedit sapiente quod.
                </p>
            </div>
        </div>

    </div>

    <div class="slider-slide">
        <div class="slider_image">
            <img src="https://cdn.magloft.com/github/swiper/images/page-005.jpg" />
        </div>
        <div class="slider_text">
            <div class="container">
                <h4>Lorem, ipsum.</h4>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim ad aspernatur eaque maxime culpa
                    consectetur debitis dolorem impedit sapiente quod.
                </p>
            </div>
        </div>

    </div>

    <div class="slider-slide">
        <div class="slider_image">
            <img src="https://cdn.magloft.com/github/swiper/images/page-006.jpg" />
        </div>
        <div class="slider_text">
            <div class="container">
                <h4>Lorem, ipsum.</h4>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim ad aspernatur eaque maxime culpa
                    consectetur debitis dolorem impedit sapiente quod.
                </p>
            </div>
        </div>

    </div>

    <div class="slider-slide">
        <div class="slider_image">
            <img src="https://cdn.magloft.com/github/swiper/images/page-007.jpg" />
        </div>
        <div class="slider_text">
            <div class="container">
                <h4>Lorem, ipsum.</h4>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim ad aspernatur eaque maxime culpa
                    consectetur debitis dolorem impedit sapiente quod.
                </p>
            </div>
        </div>

    </div>

    <div class="slider-slide">
        <div class="slider_image">
            <img src="https://cdn.magloft.com/github/swiper/images/page-008.jpg" />
        </div>
        <div class="slider_text">
            <div class="container">
                <h4>Lorem, ipsum.</h4>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim ad aspernatur eaque maxime culpa
                    consectetur debitis dolorem impedit sapiente quod.
                </p>
            </div>
        </div>

    </div>



</div>

@section Swiper{
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script>
        var swiper = new Swiper(".mySwiper", {
            slidesPerView: 1,
            loop: true,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
        });
    </script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script type="text/javascript">
        $('.slider_2').slick({
            dots: false,
            infinite: false,
            speed: 300,
            slidesToShow: 4,
            slidesToScroll: 4,
            responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 3,
                        infinite: true,
                        dots: false,
                    }
                },
                {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 2,
                        infinite: true,
                        slidesToScroll: 2
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                        infinite: true,
                        slidesToScroll: 1
                    }
                }
                // You can unslick at a given breakpoint now by adding:
                // settings: "unslick"
                // instead of a settings object
            ]
        });
    </script>

}