<div class="swiper mySwiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="blog_boxes">
                <div class="box order-2 order-md-0  text-start ">
                    <div class="container">


                        <h4 class="mt-4">Lorem, ipsum.</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                    </div>
                </div>
                <div class="box order-1 order-md-1">
                    <div class="slider_box">
                        <img src="images/people-brainstorming-work-meeting.jpg" alt="">
                    </div>


                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="blog_boxes">
                <div class="box order-2 order-md-0  text-start ">
                    <div class="container">


                        <h4 class="mt-4">Lorem, ipsum.</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                    </div>
                </div>
                <div class="box order-1 order-md-1">
                    <div class="slider_box">
                        <img src="images/people-brainstorming-work-meeting.jpg" alt="">
                    </div>


                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="blog_boxes">
                <div class="box order-2 order-md-0  text-start ">
                    <div class="container">


                        <h4 class="mt-4">Lorem, ipsum.</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                    </div>
                </div>
                <div class="box order-1 order-md-1">
                    <div class="slider_box">
                        <img src="images/people-brainstorming-work-meeting.jpg" alt="">
                    </div>


                </div>
            </div>
        </div>
    </div>
    <div class="swiper-pagination"></div>
</div>



<div class="slider_2">

    <div class="slider-slide">
        <div class="slider_image">
            <img src="https://cdn.magloft.com/github/swiper/images/page-001.jpg" />
        </div>
        <div class="slider_text">
            <div class="container">
                <h4>Lorem, ipsum.</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim ad aspernatur eaque maxime culpa consectetur debitis dolorem impedit sapiente quod. </p>
            </div>
        </div>

    </div>

    <div class="slider-slide">
        <div class="slider_image">
            <img src="https://cdn.magloft.com/github/swiper/images/page-002.jpg" />
        </div>
        <div class="slider_text">
            <div class="container">
                <h4>Lorem, ipsum.</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim ad aspernatur eaque maxime culpa consectetur debitis dolorem impedit sapiente quod. </p>
            </div>
        </div>

    </div>

    <div class="slider-slide">
        <div class="slider_image">
            <img src="https://cdn.magloft.com/github/swiper/images/page-003.jpg" />
        </div>
        <div class="slider_text">
            <div class="container">
                <h4>Lorem, ipsum.</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim ad aspernatur eaque maxime culpa consectetur debitis dolorem impedit sapiente quod. </p>
            </div>
        </div>

    </div>

    <div class="slider-slide">
        <div class="slider_image">
            <img src="https://cdn.magloft.com/github/swiper/images/page-004.jpg" />
        </div>
        <div class="slider_text">
            <div class="container">
                <h4>Lorem, ipsum.</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim ad aspernatur eaque maxime culpa consectetur debitis dolorem impedit sapiente quod. </p>
            </div>
        </div>

    </div>

    <div class="slider-slide">
        <div class="slider_image">
            <img src="https://cdn.magloft.com/github/swiper/images/page-005.jpg" />
        </div>
        <div class="slider_text">
            <div class="container">
                <h4>Lorem, ipsum.</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim ad aspernatur eaque maxime culpa consectetur debitis dolorem impedit sapiente quod. </p>
            </div>
        </div>

    </div>

    <div class="slider-slide">
        <div class="slider_image">
            <img src="https://cdn.magloft.com/github/swiper/images/page-006.jpg" />
        </div>
        <div class="slider_text">
            <div class="container">
                <h4>Lorem, ipsum.</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim ad aspernatur eaque maxime culpa consectetur debitis dolorem impedit sapiente quod. </p>
            </div>
        </div>

    </div>

    <div class="slider-slide">
        <div class="slider_image">
            <img src="https://cdn.magloft.com/github/swiper/images/page-007.jpg" />
        </div>
        <div class="slider_text">
            <div class="container">
                <h4>Lorem, ipsum.</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim ad aspernatur eaque maxime culpa consectetur debitis dolorem impedit sapiente quod. </p>
            </div>
        </div>

    </div>

    <div class="slider-slide">
        <div class="slider_image">
            <img src="https://cdn.magloft.com/github/swiper/images/page-008.jpg" />
        </div>
        <div class="slider_text">
            <div class="container">
                <h4>Lorem, ipsum.</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim ad aspernatur eaque maxime culpa consectetur debitis dolorem impedit sapiente quod. </p>
            </div>
        </div>

    </div>



</div>